@font-face {
  font-family: mefont;
  src: url(https://assets-cloud.landmarkshops.in/web/fonts/figtree/figtree-bold.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:mefont;
}
html, body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(to bottom right,lightblue,royalblue);
}
a{
  text-decoration: none;
  font-size: 30px;
  color: black;
}
#nav{
  display: flex;
  align-items: center;
  gap:90px;
  margin:40px 170px;
  text-align: center;
}
h1{
  font-size: 18vw;
  font-weight: 100;
  font-style: normal;
  margin-left:150px;
}
#bottom-left{
  position:absolute;
  left:11%;
  bottom: 13%;
  width:250px;
}
#bottom-left>p{
  margin:10px;
}
#footer{
  position: absolute;
  bottom: 2%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#footer>h3{
  padding:0 90px;

}
img{
  position: absolute;
}
#i1{
  height:250px;
  left:45%;
  bottom: 20%;
  z-index: 0;
}
#i2 {
  height: 290px;
  left: 65%;
  bottom: 15%;
  z-index:2;
}
#i3 {
  height: 280px;
  left: 55%;
  bottom: 3%;
  z-index: 1;
}